<div class="container my-5 ">
  <div class="card shadow">
    <div class="card-header bg-gradient-primary text-dark">
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <h1 class="card-title display-6 text-uppercase mb-2 p-4">Employee Attendance Report</h1>
        </div>
        <div class="d-none d-md-block">
          <!-- You can add your logo here -->
          <!-- <img src="your-logo-path.jpg" alt="Your Logo" class="img-fluid" style="max-height: 100px;" /> -->
        </div>
      </div>
    </div>
 
    <div class="card-body">
      
      <div class="d-flex flex-row align-items-center my-3">
        <button type="button" class="btn btn-success px-3 " [routerLink]="['/Dashboard/Attendance/Add']">
          <i class="bi bi-plus"></i> Add Attendance
        </button>
        <div class="col-md-6 mx-2 ms-auto">
          <form (ngSubmit)="onSubmit()" [formGroup]="FormFilter" class="d-flex align-items-center">
            <label for="from" class="mx-2 mb-0">
              From
            </label>
            <input class="form-control form-control-sm me-2" type="date" formControlName="from" />
            <label for="to" class="mx-2 mb-0">
              To
            </label>
            <input class="form-control form-control-sm me-2" type="date" formControlName="to" />
            <button type="submit" class="btn btn-primary btn-sm me-2 mx-2 px-3">
              Show
            </button>
          </form>
        </div>
      
        <div class="col-md-2 ms-auto">
          <div class="d-flex justify-content-end align-items-center">
            <i class="bi bi-file-earmark-pdf h3 mx-2 text-danger"></i>
            <i class="bi bi-printer h3 text-primary"></i>
          </div>
        </div>
      </div>
      


      <div class="table-responsive">


        <!-- table -->

        <table id="dt-filter-select" [dtTrigger]="dtTrigger" datatable [dtOptions]="dtoption"
          class="table pt-3 table-light" cellspacing="0" width="100%">
          <thead class="thead-light">
            <tr  >
              <th>#</th>
              <th>Department</th>
              <th>Employee Name</th>
              <th>Arrival Time</th>
              <th>Leave Time</th>
              <th>Date</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let attend of attendanceReport; let i = index" class="table-row-hover">
              <td>{{i+1}}</td>
              <td>{{ attend.departmentName}}</td>
              <td>{{ attend.employeeName }}</td>
              <td>{{ attend.arrivalTime }}</td>
              <td>{{ attend.leaveTime }}</td>
              <td>{{ attend.date | date:'mediumDate'}}</td>
              <td class="table-action-icons">
                <i class="bi bi-pencil-square text-primary mx-2"
                  [routerLink]="['/Dashboard/Attendance/Edit',attend.id]"></i>
                <i class="bi bi-trash3 text-danger " (click)="deleteAttendance(attend.id)"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>